.post-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
}
.post{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    width: 250px;
}
.post h3, .post p, .post span{
    color: rgb(45, 45, 45);
}
.post h3{
    margin: 1rem;
    weight: bold;
}
.post p{
    margin: 1rem;
}
.link{
    background-color: rgba(0, 255, 255, 0.079);
    margin: 1rem;
    border-radius: 4px;
}