#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.main-content{
  width: 100%;
  min-width: 320px;
  max-width: 768px;
  min-height: 100vh;
  display: grid;
  margin: 0 auto;
  grid-template-rows: auto 1fr auto ;
}

.outler{
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 4px;
  padding:0.2rem;
}
.wrapper-list{
  display: flex;
  
  gap: 8px;
}





.header{
  display: flex;
  justify-content: space-between;
  margin:14px auto;
  width: 450px;
  gap: 9px;
  list-style-type: none;
}