.form{
    margin: 0 1rem;;
    width: 300px;
    margin: 0 auto;
}
.form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.6rem;

}
img{
    max-width: 100%;
    width: 80px;
    margin: 1rem;
}
.form-input{
    border: none;
    outline: none;
    padding: 0.2rem;
    border-radius:4px;
    background-color: rgba(0, 255, 255, 0.054);
    border-bottom: 1px solid;
}
.form-button{
    border: none;
    outline: 1px solid;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius:4px;
    transition: all 0.6s ease-in-out;
}
.form-button:hover{
   background-color: rgba(0, 255, 255, 0.283);
   cursor: pointer;
}
.error-input{
    border: 1px solid red;
}
.success-input{
    border: 1px solid green;
}
.form-text-area{
    resize: none;
    height: 100px;
    border-radius: 4px;
}
.title, .content{
    width: 100%;
    text-align: center;
}